<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontend_toDoList</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

       <header>
        <% if(task == null) {%>
         <form action ="/create" method="post">
            <input type="text" name="task" id="task" placeholder="Insira uma tarefa!">
            <button id="addBut" type="submit">Adicionar</button>
        </form>
        <% } else{%>
        <form action ="/update/<%= task._id %>" method="post">
            <input type="text" name="task" id="task" value="<%= task.task %>">
            <button id="addBut" type="submit">Atualizar</button>
        </form>
        <% }%>
       </header>

        
        <section id="tasks">
            <ul>
            <% tasklist.forEach((task)=>{%>

            <li> <%= task.task %> | <%= task.date.toLocaleDateString('pt-BR') %> 
                <a href="/getById/<%= task._id %>/uptade">Editar</a>
                <a href="/getById/<%= task._id %>/delete">Apagar</a>
            </li>
                
            <% })%> 
        </ul>
       
        </section>
        <% if(taskDelete !=null){%>
        <section id="modal">
            <div id="card">

                <a href="/">x</a>
                <h2>Confirmação</h2>
                <hr>
                <p>Deseja realmente deletar a tarefa <%= taskDelete.task%>? </p>
                <a href="/">Cancelar</a>
                <a href="deleteTask/ <%= taskDelete.task%>">Confirmar</a>
            </div>

        </section>
        <%}%>


     <script src="/script.js"></script>
</body>

</html>
